/* ------ CSS RESET ------ */
 
* {
    padding:0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    }

/* ------ BODY -------*/

body { 
    width: 100%;
    height: 100%;
    font-family: 'din-condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    background: #fff;
    color:#000; }

.bannertop {
    display: block;
    width:100%;
    padding: 0.5em 0em 0em 0em;}


/*--------TEXT---------*/

.small {
    font-size: 3em;
    color:#3b3e40;
    padding: 0em 0em 0em 0.1em;}


.big {
    padding: 0em 0em 0em 0em;
    font-size: 10em;
    text-transform: uppercase;}


.bigthree {
    font-size: 2.5em;
    text-align: center;
    text-justify: inter-word;
    color: #fff;}

.smallthree {
    font-size: 1.5em;
    text-align: center;
    text-justify: inter-word;
    color:#ffff;
    padding: 0.5em 0em 0em 1em;}


/*----NAVIGATION-----*/

.navigation-bar {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 15px 0em 5px 0em;
    background:#ffff; }

.monogram {
    float: left;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 5px;}
    

.navigation-bar ul  {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1.5px;}

.navigation-bar ul li {
    display: inline;
    margin: 25px;}

.navigation-bar a:link {
    color: #3b3e40;
    text-decoration: none;}

.navigation-bar a:visited {
    color: #3b3e40;}

.navigation-bar a:hover {
    border-bottom: 2px solid #3b3e40;
    color: #3b3e40 ;
   }


.intro {
    width: 100%;
    background-color: #f2cad3;
    color: #ffff;
    }


.inner {
    width: 100%px;
    height: 350px;
    padding: 7em 10em 10em 15em;}

.innerthree {
    width: 100%px;
    height: 10px;
    background-color: #f2cad3;
    padding: 4em 1em 4em 1em;}


/*--------------TRAVEL CONTAINER---------*/

.travelbanner {
    display: block;
    width: 100%;
    height: 100%; }

.container {
    position: relative;
    text-align: center;
    color: white; }


.top-right {
    font-size: 5.2em;
    letter-spacing: 0.02em;
    position: absolute;
    top: 100px;
    right: 100px;}

.top-right p+p {
    font-size: 0.3em;
    line-height: 30px;
    letter-spacing: 0.04em;
    position: absolute;
    top: 100px;
    text-align: justify;}

.top-right p+p+p {
    font-size: 0.3em;
    letter-spacing: 0.06em;
    position: absolute;
    top: 210px;
    text-align: justify;}

.top-right ul {
     font-size: 0.3em;
    letter-spacing: 0.04em;
    position: absolute;
    top: 260px;
    right: 325px;
    text-align: justify;}

.top-right li {
    line-height: 30px;}
    
.btn1 {
    font-family: 'din-condensed', sans-serif;
    position: absolute;
    top: 400px;
    left: 70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #6799CC;
    color: white;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding: 10px 10px 10px 10px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.btn2 {
    font-family: 'din-condensed', sans-serif;
    position: absolute;
    top: 400px;
    left: 230px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #6799CC;
    color: white;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding: 10px 10px 10px 10px;
    border: 3px solid white;
    border-radius: 5px;
}
    

.btn1:hover {
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
    background-color: white ;
    color: #6799CC;
    font-size: 0.3em;}

.btn2:hover {
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
    background-color: white ;
    color: #6799CC;
    font-size: 0.3em;}

/*--------------BRAND CONTAINER ----------*/

.brandbanner {
    display: block;
    width: 100%;
    height: 100%;}

.container2 {
    position: relative;
    text-align: center;
    color: white;
}


.top-right2 {
    font-size: 5.2em;
    letter-spacing: 0.02em;
    position: absolute;
    top: 100px;
    right: 730px;
}

.top-right2 p+p {
    font-size: 0.3em;
    line-height: 30px;
    letter-spacing: 0.04em;
    position: absolute;
    top: 110px;
    text-align: justify;}

.top-right2 p+p+p {
    font-size: 0.3em;
    letter-spacing: 0.06em;
    position: absolute;
    top: 200px;
    text-align: justify;}

.top-right2 ul {
     font-size: 0.3em;
    letter-spacing: 0.04em;
    position: absolute;
    top: 250px;
    right: 350px;
    text-align: justify;}

.top-right2 li {
    line-height: 30px;}
    

.btn3 {
    font-family: 'din-condensed', sans-serif;
    position: absolute;
    top: 400px;
    left: 70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #f2cad3;
    color: white;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding: 10px  10px 10px 10px;
    border: 3px solid white;
    border-radius: 5px;
}

.btn4 {
    font-family: 'din-condensed', sans-serif;
    position: absolute;
    top: 400px;
    left: 240px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #f2cad3;
    color: white;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding: 10px  10px 10px 10px;
    border: 3px solid white;
    border-radius: 5px;
}



.btn3:hover {
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
    background-color: white ;
    color: #f2cad3;
    padding: 10px 10px 10px 10px;
    font-size: 0.3em;}

.btn4:hover {
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
    background-color: white ;
    color: #f2cad3;
    padding: 10px 10px 10px 10px;
    font-size: 0.3em;}

/* ----------INFO CONTAINER -----------*/

.infobanner {
    display: block;
    width: 100%;
    height: 100%;}

.container3 {
    position: relative;
    text-align: center;
    color: white;
}


.top-right3 {
    font-size: 5.2em;
    letter-spacing: 0.02em;
    position: absolute;
    top: 100px;
    right: 200px;
}

.top-right3 p+p {
    font-size: 0.3em;
    line-height: 30px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 100px;
    text-align: justify;}

.top-right3 p+p+p {
    font-size: 0.3em;
    letter-spacing: 0.06em;
    position: absolute;
    top: 240px;
    text-align: justify;}

.top-right3 ul {
     font-size: 0.3em;
    line-height: 30px;
    letter-spacing: 0.04em;
    position: absolute;
    top: 280px;
    right: 190px;
    text-align: justify;}

.top-right3 li {
    line-height: 30px;}

.btn5 {
    font-family: 'din-condensed', sans-serif;
    position: absolute;
    top: 400px;
    left: 70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #EC6262;
    color: white;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding: 10px 10px 10px 10px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.btn6 {
    font-family: 'din-condensed', sans-serif;
    position: absolute;
    top: 400px;
    left: 230px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #EC6262;
    color: white;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding: 10px 10px 10px 10px;
    border: 3px solid white;
    border-radius: 5px;
}
    
.btn5:hover {
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
    background-color: white ;
    color: #EC6262;
    font-size: 0.3em;}

.btn6:hover {
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
    background-color: white ;
    color: #EC6262;
    font-size: 0.3em;}

/*--------------------FOOTER-----------*/  

.banner {
    width: 100%;
    height: 200px;
    background-color: #f2cad3;}

.icons {
    text-align: center;
    padding: 6.5em 2em 1em 0em;}
    
.icons img {
    display: inline-block;
    padding-left: 2em;
    max-width: 100%;
  
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.6s; }

.instagram:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.tumblr:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.github:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.email:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }


/*-------- MEDIA QUIERIES ------------*/

/*------SMARTPHONE-------*/

@media (max-width:35em) {
    
    .bannertop {
    padding: 1.6em 0em 0em 0em;}

    .navigation-bar ul  {
    font-size: 0.8em;}
    
    .navigation-bar ul li {
    margin: 10px;}
    
    .navigation-bar a:hover {
    border-bottom: 1.5px solid #3b3e40;}
    
    .monogram {
    width: 15px;
    height: 15px;}
    
    .small {
         padding: 0.2em 0em 0em 0.5em;
        font-size: 1.5em;}
        
    .big {
        padding: 0em 0em 0em 0.2em;
        font-size: 3.5em;}
    
.bigthree {
    font-size: 1em;}

.smallthree {
    padding: 0.5em 4em 0em 4em;
    font-size: 0.7em;}
    
    .intro {
    width: 100%;
    height: 240px;}


.inner {
    width: 100%px;
    height: 175px;
    padding: 2em 2em 0em 3em;}
    
    .top-right {
    font-size: 1.5em;
    top: 20px;
    right: 40px;}

.top-right p+p {
    font-size: 0.4em;
    line-height: 10px;
    top: 30px;}

.top-right p+p+p {
    font-size: 0.4em;
    top:70px;}

.top-right ul {
     font-size: 0.4em;
    letter-spacing: 0.04em;
    position: absolute;
    top: 85px;
    right: 70px;
    text-align: justify;}

.top-right li {
    line-height: 10px;}
    
    .btn1 {
    top: 135px;
    left: 30px;
    font-size: 0.3em;
    padding: 3px 3px 3px 3px;
    border: 1px solid white;
    border-radius: 2px;}

.btn2 {
    top: 135px;
    left: 85px;
    font-size: 0.3em;
    padding: 3px 3px 3px 3px;
    border: 1px solid white;
    border-radius: 2px;}
    
    .top-right2 {
    font-size: 1.4em;
    top: 25px;
    right: 220px;
}

.top-right2 p+p {
    font-size: 0.4em;
    line-height: 10px;
    top: 30px;
    }

.top-right2 p+p+p {
    font-size: 0.4em;
    top: 70px;}

.top-right2 ul {
     font-size: 0.4em;
    top: 85px;
    right: 75px;}

.top-right2 li {
    line-height: 10px;}
    

.btn3 {
    font-size: 0.3em;
    top: 135px;
    left: 20px;
    padding: 3px  3px 3px 3px;
    border: 1px solid white;
    border-radius: 2px;
}

.btn4 {
    font-size: 0.3em;
    top: 135px;
    left: 75px;
    padding: 3px  3px 3px 3px;
    border: 1px solid white;
    border-radius: 2px;
}

    .top-right3 {
    padding: 0em 1em 0em 1em;
    font-size: 1.5em;
    top: 20px;
    right: 40px;}

.top-right3 p+p {
    font-size: 0.4em;
    line-height: 10px;
    top: 30px;}

.top-right3 p+p+p {
    font-size: 0.4em;
    top:80px;}

.top-right3 ul {
     font-size: 0.4em;
    top: 95px;
    right: 55px;}

.top-right3 li {
    line-height: 10px;}
    
    .btn5 {
    top: 140px;
    left: 50px;
    font-size: 0.3em;
    padding: 3px 3px 3px 3px;
    border: 1px solid white;
    border-radius: 2px;}

.btn6 {
    top: 140px;
    left: 105px;
    font-size: 0.3em;
    padding: 3px 3px 3px 3px;
    border: 1px solid white;
    border-radius: 2px;}
    
    .innerthree {
    height: 5px;
    padding: 2em 4em 1em 3em;}
    
    .icons img{
        padding-left: 1em;
        height: 25px;
        width: 25px;}
} 







    
    


